<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<h1>Update a client:</h1>

<form th:action="@{/client/__${id}__}"
      th:object="${clientDto}" method="PUT">
    ID:
    <input type="text" th:name="id" />
    <br/>
    Full name:
    <input type="text" th:field="*{name}" />
    <br/>
    Phone number:
    <input type="text" th:field="*{phoneNumber}" />
    <br/>
    <input type="submit" class="btn" value="Update" />
</form>

<br/>

</body>
</html>