<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Client List</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<h1>Client List</h1>
<br/>
<div>
    <table border="1" size="3">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Phone number</th>
        </tr>
        <tr th:each ="client : ${clients}">
            <td th:utext="${client.id}">...</td>
            <td th:utext="${client.name}">...</td>
            <td th:utext="${client.phoneNumber}">...</td>
        </tr>
    </table>
</div>

<form th:action="@{/client}" method="GET">
    Укажите ID клиента, которого хотите открыть:&nbsp<br/>
    <input type="text" th:name="id"/>
    <input type="submit" class="btn" th:value="Открыть"/>
</form>
<br/><br/>
<form th:action="@{/client}" method="PUT">
    Укажите ID клиента, которого хотите изменить:&nbsp<br/>
    <input type="text" th:name="id"/>
    <input type="submit" class="btn" th:value="Изменить"/>
</form>
<br/><br/>
<form th:action="@{/client}" method="DELETE">
    Укажите ID клиента, которого хотите удалить:&nbsp<br/>
    <input type="text" th:name="id"/>
    <input type="submit" class="btn" th:value="Удалить"/>
</form>
<br/><br/>
<form th:action="@{/client}" method="GET">
    Укажите ID клиента, с которым хотите работать:&nbsp<br/>
    <select th:name="id">
        <tr th:each ="client : ${clients}">
            <option value="${client.id}" th:utext="${client.name}"></option>
        </tr>
    </select>
    <input type="submit" class="btn" th:value="Открыть" />
</form>
</body>
</html>