<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Client List</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<h1>Client List</h1>
<br/>
<div>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Phone number</th>
        </tr>
        <tr th:each ="client : ${clients}">
            <td th:utext="${client.id}">...</td>
            <td th:utext="${client.name}">...</td>
            <td th:utext="${client.phoneNumber}">...</td>
        </tr>
    </table>
</div>

<br/>

<form th:action="@{/client}" method="GET">
    Укажите ID клиента, которого хотите открыть: <br/>
    <input type="text" th:name="id"/>  <br/>
    <input type="submit" class="btn" th:value="Открыть"/>
</form>
<br/><br/>

<form th:action="@{/updateClient}" th:object="${clientDto}" method="POST">
    Укажите ID клиента, которого хотите изменить: <br/>
    <input type="text" th:name="id"/>
    <br/>
    Введите его новое имя (P.S. можете его оставить тем же): <br/>
    <input type="text" th:field="*{name}" />
    <br/>
    Введите его новый номер телефона (P.S. можете его оставить тем же): <br/>
    <input type="text" th:field="*{phoneNumber}" />
    <br/>
    <input type="submit" class="btn" th:value="Изменить"/>
</form>
<br/><br/>

<form th:action="@{/deleteClient}" method="POST">
    Укажите ID клиента, которого хотите удалить:&nbsp<br/>
    <input type="text" th:name="id"/>  <br/>
    <input type="submit" class="btn" th:value="Удалить"/>
</form>


<!--<br/><br/>
<form th:action="@{/client}" method="GET">
    Укажите клиента, которого хотите открыть:&nbsp<br/>
    <select th:name="id">
        <tr th:each ="client : ${clients}">
            <option value="${client.id}" th:utext="${client.name}"></option>
        </tr>
    </select>
    <input type="submit" class="btn" th:value="Открыть" />
</form>-->
</body>
</html>