<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rent companies List</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

<h1>Rent companies List</h1>
<br/>
<div>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
        <tr th:each ="rentCompany : ${rentCompanies}">
            <td th:utext="${rentCompany.id}">...</td>
            <td th:utext="${rentCompany.name}">...</td>
        </tr>
    </table>
</div>

<br/>

<form th:action="@{/rentCompany}" method="GET">
    Select ID of Rent Company you want to open:<br/>
    <input type="text" th:name="id"/>  <br/>
    <input type="submit" class="btn" th:value="Open"/>
</form>
<br/><br/>

<form th:action="@{/updateRentCompany}" th:object="${rentCompanyDto}" method="POST">
    Select ID of Rent Company you want to change: <br/>
    <input type="text" th:name="id"/>
    <br/>
    Enter new name (P.S. you may leave it the same): <br/>
    <input type="text" th:field="*{name}" />
    <br/>
    <input type="submit" class="btn" th:value="Change"/>
</form>
<br/><br/>

<form th:action="@{/deleteRentCompany}" method="POST">
    Select ID of Rent Company you want to delete:&nbsp<br/>
    <input type="text" th:name="id"/>  <br/>
    <input type="submit" class="btn" th:value="Delete"/>
</form>


<!--<br/><br/>
<form th:action="@{/client}" method="GET">
    Укажите клиента, которого хотите открыть:&nbsp<br/>
    <select th:name="id">
        <tr th:each ="client : ${clients}">
            <option value="${client.id}" th:utext="${client.name}"></option>
        </tr>
    </select>
    <input type="submit" class="btn" th:value="Открыть" />
</form>-->
</body>
</html>