<!DOCTYPE HTML>
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<head>
    <meta charset="UTF-8" />
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" href="style.css">

</head>
<body>
<h1>Welcome page</h1>

<a href="addClient" class="btn">Add client</a>
<a href="clients" class="btn">Show all clients</a>
<a href="client" class="btn">Delete client</a>
<a href="client" class="btn">Update client</a><br><br>

<a href="client" class="btn">Add car</a>
<a href="client" class="btn">Delete car</a>
<a href="client" class="btn">Add car</a><br><br>

<a href="client" class="btn">Add rent company</a>
<a href="client" class="btn">Delete rent company</a>
<a href="client" class="btn">Update rent company</a><br><br>

<a href="client" class="btn">Add booking</a>
<a href="client" class="btn">Delete booking</a>
<a href="client" class="btn">Update booking</a><br><br>

</body>

</html>